html {
    background-image:url("");
    background-repeat:  no-repeat;
    background-size:  cover;
    background-position: center;
    background-color: black;
    min-height: 100%;
}
body {
    max-width: 480px;
    min-width:230px;
    margin-top:3em;
    margin-bottom:3em;
    margin-left:auto;
    margin-right:auto;
    padding-top:1em;
    background: rgba(0, 0, 0, .8);
}
body, button, textarea{
    color:white;
    border:2px solid white;
    padding:1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 1.5em;
}
h1, h2 {
    line-height: 1em;
}
textarea {
    background-color: black;
    display:block;
    margin:1em auto;
    height:5em;
    width:20em;
    resize: none;
}
::placeholder { 
    color:white;
    opacity: 1; 
    padding:.2em;
}
button {
    background-color: black;
    margin:1em;
    padding:1em;
    box-shadow: none;
    width:10em;
}
button:hover, button:focus {
    border: solid 2px rgb(255, 252, 93);
    color:  rgb(255, 252, 93);
}
/* responsive mobile styles */
@media only screen and (max-width: 464px) {
    body {
        margin-left:1em;
        margin-right:1em;
    }
    button {
        width:20em;
        margin: 1em auto;
        display:block;
    }
    textarea {
        padding:0em;
    }
}